html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



body{ 
    background-image: url(pictures/gunwallpaper2.jpg);
	background-color: #E6E6DC;
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
	margin: 35px 0 35px 0;
}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 700px;
	max-width: 1900px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 5px 5px 5px #000000;
	-moz-box-shadow: 5px 5px 5px #000000;
	box-shadow: 5px 5px 5px #000000;
}
#wrapper img{
	border:0;
}
#header{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #000000
}
#header p{
	padding-top: 50px;
} 
#content{
	background-color: #FFFFFF;
	padding-top: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-width: 500px;
}
#fluid-wrapper{
	position: relative;
    padding-bottom: 56.25%; 
    height: 0;
}
#fluid-wrapper iframe {
    position: relative;
    top: 0;
    left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 80%;
    height: 80%;
    border: none;
}
#pageTitle{
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
}
#footer{
	background-color: #81A594;
	color: #000000;
	height: 50px;
	text-align: center;
	font-family: Arial, Verdana;
	clear: both;
}
#footer span{
	display: inline-block;
	margin-top: 30px;
}
#about {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}
#hours {
	font-size: 20px;
	font-weight: bold;
}

.welcome{position: relative;
    margin-left: auto;
	margin-right: auto;
	width: 80%;
	min-width: 700px;
	max-width: 1900px;
	-webkit-box-shadow: 5px 5px 5px #000000;
	-moz-box-shadow: 5px 5px 5px #000000;
	box-shadow: 5px 5px 5px #000000;
    text-align: center;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;}

.leftCol{
	float: left;
}
.middleCol{
	margin-left: auto;
    margin-right: auto;
	width: 90%;
	text-align: center;
}
.rightCol{
	float: right;
}
.clear{
	clear: both;
}
.textCenter{
	text-align: center;
}
.center{
	text-align: center;
	min-width: 700px
}
.center img{
	width: 24%
}


nav {
	background-color: #81A594;
	height: 40px;
	clear: left;
	text-align: center;
}
nav ul {
	font-family: Arial, Verdana;
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
nav ul li {
	display: block;
	position: relative;
	float: left;
}
nav ul li a {
	display: block;
	text-decoration: none;
	padding: 7px 15px 3px 15px;
	background: #81A594;
	color: #000000;  
	margin-left: 1px;
	height:30px;
	width:100px;
	text-align:center;
}
nav ul li a:hover { 
	background: #000000;
	color: #ffffff
}
 
#contact-form {
    background-color:#F2F7F9;
    width:465px;
    padding:20px;
    margin: 50px auto;    
    border: 6px solid #8FB5C1;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    position:relative;
}
 
#contact-form h1 {
    font-size:42px;
}
 
#contact-form h2 {
    margin-bottom:15px;
    font-style:italic;
    font-weight:normal;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea, 
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}
 
#contact-form input, 
#contact-form select, 
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}
 
#contact-form input:focus, 
#contact-form select:focus, 
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}
 
#contact-form textarea {
    height:150px;
    resize: none;
}
 
#contact-form label {
    display:block;
}
 
#contact-form .required {
    font-weight:bold;
    color:#F00;    
}
 
#contact-form #submit-button {
    width: 100px;
    background-color:#333;
    color:#FFF;
    border:none;
    display:block;
    float:right;
    margin-bottom:0px;
    margin-right:6px;
    background-color:#8FB5C1;
    -moz-border-radius:8px;
    border-radius: 8px;
}
 
#contact-form #submit-button:hover {
    background-color: #A6CFDD;
}
 
#contact-form #submit-button:active {
    position:relative;
    top:1px;
}
 
#contact-form #loading {
    width:32px;
    height:32px;
    background-image:url(../img/loading.gif);
    display:block;
    position:absolute;
    right:130px;
    bottom:16px;
    display:none;
}
 
#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.png) no-repeat 405px center;
    display:none;
}
 
#errors li {
    padding:2px;
    list-style:none;    
}
 
#errors li:before {
    content: ' - ';    
}
 
#errors #info {
    font-weight:bold;
}
 
#errors #info:before {
    content: '';    
}
 
#success {
    border:solid 1px #83D186;
    padding:25px 10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3 url(../img/accepted_48.png) no-repeat 405px center;
    font-weight:bold;
    display:none;
}
 
#errors.visible, #success.visible {
    display:block;    
}
 
#req-field-desc {
    font-style:italic;
}
 

input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
 

 

::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}
 

input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}
 

input.placeholder-text, textarea.placeholder-text  { 
    color:#CCC;
    font-style:italic;
}
















@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}



.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}